<h1>StaticPages#browse</h1>
<p>Find me in app/views/static_pages/browse.html.erb</p>

/* Para implementar browse con portadas hay que crear la clase y hacer como
con users, en la clase portadas, crear un index que muestre todas las portadas
linkar a ese index en routes de browse */