<% provide(:title, "Comics") %>


<% if logged_in? %>
    <h1>Create new comic</h1>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="comic_form">
          <%= render 'shared/comic_form' %>
        </section>
      </aside>
    </div>
<% else %>

You don't have permission to see this page

<% end %>
