

<div class="page">


  <img class="page" src="http://www.praguerace.com/comics/1449255359-sataviis.jpg">

</div>


<% provide(:author_comment, "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas semper ex, eget lobortis nibh pellentesque sed. Mauris magna arcu, pulvinar vitae mi eu, dictum accumsan justo. Morbi dignissim lectus rutrum, efficitur elit quis, placerat leo. Cras convallis, ipsum et fermentum mollis, quam odio tempus elit, condimentum sollicitudin mauris urna eleifend neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sodales ante nisl, sed porttitor purus bibendum quis. Pellentesque porta tincidunt nulla quis elementum. Ut nibh erat, dapibus id cursus vel, faucibus sed tortor. Donec consequat ligula id nulla ultrices pellentesque. Etiam euismod, magna sed elementum egestas, lacus nibh dapibus est, in venenatis ligula urna quis eros. Fusce aliquet tempus lectus et varius. Mauris et mauris odio. Aenean quam neque, consectetur sed suscipit ac, molestie vel mi. ") %>

