

<div class="grid-block-container">

  <div class="grid-block standard">
    <div class="caption">
      <h3>Comic Title</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor neque ac eros vulputate, ac posuere elit tempus. Aenean in auctor massa. Curabitur nisi lacus, tempus sed vulputate at, bibendum nec felis. Sed elementum justo id bibendum accumsan. Donec sem nisl, rhoncus non erat at, tempus hendrerit mi. Maecenas ac erat urna. Vestibulum sodales turpis risus, at molestie urna interdum non. Duis eget suscipit augue. Cras sit amet laoreet nisl, quis pellentesque dolor.</p>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor neque ac eros vulputate, ac posuere elit tempus. Aenean in auctor massa. Curabitur nisi lacus, tempus sed vulputate at, bibendum nec felis. Sed elementum justo id bibendum accumsan. Donec sem nisl, rhoncus non erat at, tempus hendrerit mi. Maecenas ac erat urna. Vestibulum sodales turpis risus, at molestie urna interdum non. Duis eget suscipit augue. Cras sit amet laoreet nisl, quis pellentesque dolor.</p>

      <p><a href="/comic/page" class="read-more">Start reading</a></p>
    </div>
    <img class= "page" src="http://www.praguerace.com/comics/1431622157-juuliantuulet.jpg" />
  </div>

</div>
<!--/.grid-container-->