<% provide(:title, @user.name) %>

<div class="section group">
  <div class="col span_3_of_12">
    <div class="col span_12_of_12">
   <%= gravatar_for @user %>

  </div>


      <div class="col span_12_of_12">
        <h2>Profile</h2>
    <h1>

      <%= @user.name %>

    </h1>
        <%= render 'follow_form' if logged_in? %>
  </div>
  </div>

  <div class="col span_6_of_12">


  <div class="col-md-8">
      <% if @user.comics.any? %>
          <h3>Mock (<%= @user.comics.count %>)</h3>
          <ol class="comics">
            <%= render @comics %>

          </ol>
          <%= will_paginate @comics %>
      <% end %>
    </div>



  </div>

  <div class="col span_3_of_12">
    <h2>Following</h2>
    <%= render 'shared/stats' %>

  </div>
</div>

