<li id="comic-<%= comic.id %>">
  <span class="user"><%= link_to comic.user.name, comic.user %></span>
  <span class="title">
    <%= comic.title %>

    <%= link_to image_tag(comic.image.url ), comic if comic.image? %>

    <% if current_user?(comic.user) %>
      <%= link_to "delete", comic, method: :delete,
                  data: { confirm: "You sure?" } %>
    <% end %>
  </span>


</li>


