<%= form_for(@comic) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Create new comic..." %>
      <span class="image">
        <%= f.label :cover %>
        <%= f.file_field :image %>
        <%= f.label :summary %>
        <%= f.text_area :summary %>
      </span>
    </div>
    <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
