<%= form_for(@page) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">



        <%= f.label :summary %>
        <%= f.text_area :summary %>

    </div>
    <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>


