<% @pages.each do |page| %>
      <%= link_to page.summary, [@comic, page] %>
    <% if current_user?(page.user_id) %>
        <%= link_to "delete", comic_page_path, method: :delete,
                    data: { confirm: "You sure?" } %>
    <% end %>

<% end %>
