<% provide(:title, 'New page') %>

<div class="content_form">
  <h1>New page</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for [@comic, @page] do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :summary %>
          <%= f.text_field :summary %>

          <%= f.label :page %>
          <%= f.file_field :image %>

          <%= f.submit "Upload page", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

</div>