@import "bootstrap-sprockets";
@import "bootstrap";

/* BODY */

html, body {
   margin:0;
   padding:0;
   height:100%;
  /* background-color: #5da5a3;*/
 }

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 0 0 1% 1.6%;

  /*background-color: gainsboro;*/

}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
  width: 91.53%;
}
.span_10_of_12 {
  width: 83.06%;
}

.span_9_of_12 {
  width: 74.6%;
}

.span_8_of_12 {
  width: 66.13%;
}

.span_7_of_12 {
  width: 57.66%;
}

.span_6_of_12 {
  width: 49.2%;
}

.span_5_of_12 {
  width: 40.73%;
}

.span_4_of_12 {
  width: 32.26%;
}

.span_3_of_12 {
  width: 23.8%;
}

.span_2_of_12 {
  width: 15.33%;
}

.span_1_of_12 {
  width: 6.866%;
}

/* HEADER */


  header {
    .col {
      background-color: #f35724;}
    .login-menu {
      background-color: #f48e34;
      a {
        color: #0f4f62;
      }


    }
    .navbar-brand:hover {
      text-shadow: 2px 2px #f48e34;
      transition: color 0.2s linear;
    }
  }


    .container {
      background-color: #0f4f62;
      width:auto;
      margin:0;
      p {
        color: #5da5a3;
      }

    }

.left {
  margin-left: 0;
}
.right{
  margin-right:0;

}

    .nav {
      margin-bottom: 0;
    }

.navbar-brand {
  a {
    color: #0f4f62;
  }

}




/* SEARCH SIDEBAR */

.stylish-input-group .input-group-addon{
  background: white !important;

}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}

hr {
  border-color: #212121;
}

/* CONTENT */
  .content {
    margin: 0 5%;
    width: auto;
    padding-bottom:100px; /* Height of the footer element */
    .col {
      /*background-color: #f35724;*/
    }
    p, a {
      color: #0f4f62;
    }

  }

  .content_home{
    width: 80%;
    margin: 0 auto;
    img {
      max-width:100%;
      height: auto;
    }
  }


  .content_form {
    width: 900px;
    margin: 0 auto;
    text-align: center;
  }

  /* COMIC NAV */

  .nav-center {
    width:100%;
    text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
  }

  /* BROWSE CONTENT */

  .browse {
    img {
      max-width:100%;
      height: auto;
    }
  }

  .browse_content {
    p {
      color: #5da5a3;
    }
  }
  /* COMIC COVER CAPTION */
.grid-block-container {
  float: left;
  width: 100%;
  margin: 20px 0 0 -30px;
}
.grid-block {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin: 0 0 30px 30px;
}
.grid-block h4 {
  font-size: .9em;
  color: #333;
  background: #f5f5f5;
  margin: 0;
  padding: 10px;
  border: 1px solid #ddd;
}

.caption {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}
.caption h3, .caption p {
  color: #fff;
  margin: 20px;
}
.caption h3 {
  margin: 20px 20px 10px;
}
.caption p {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0 20px 15px;
}
.caption a.read-more {
  padding: 5px 10px;
  background: #08c;
  color: #fff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  font-weight: bold;
  text-decoration: none;
}
.caption a.read-more:hover {
  background: #fff;
  color: #08c;
}

  /* COMIC */

  .content_comic {
    margin: 0 auto;
    display: block;
    img.banner {
      margin: 0 auto;
      display: block;
    }
    img.page {
      width: 100%;
      max-height: auto;
    }
  }

.last_updated {
  display: block;
  float: left;
  width: 23.8%;
  margin: 1% 0 1% 0;
}

.comic {
  display: block;
  float: right;
  width: 50%;
  margin: 1% 0 1% 1.6%;

}

.comics {
    img {
      width:100%;
      height:auto;
    }
}

.right_sidebar {
  display: block;
  float: right;
  width: 23.8%;
  margin: 1% 0 1% 1.6%;
}

.sidebar {
  display: block;
  float: left;
  clear: left;
  width: 23.8%;
  margin: 1% 0 1% 0%;
}

  /* PAGE */
  .content_page {
    margin: 0 auto;
    display: block;
    img {
      margin: 0 auto;
      display: block;
    }
  }

  /* WRAPPER */
  .wrapper {
    min-height: 100%;
    position: relative;
  }



/* FOOTER */
  .footer {
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
    background-color: #0f4f62;
    .col{
      background-color: #0f4f62;

    }
  }

  .push {
    visibility: hidden;
  }




//////////////////////////////////////////////////////////
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}



#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

//////////////////////////////

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }

  .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
    width: 100%;
  }

  .push { display: none;}
}