<div class="section group">
  <div class="col span_1_of_12" push></div>
  <div class="col span_10_of_12">
    <ul class="nav navbar-nav nav-center">
      <li><%= link_to "FIRST", '#' %></li>
      <li><%= link_to "PREV", '#' %></li>
      <li><%= link_to "NEXT", '#' %></li>
      <li><%= link_to "LAST", '#' %></li>
    </ul>
  </div>
</div>