<div class="col span_12_of_12">
<div class="content_comic">
    <div class="section group">
      <%= render 'layouts/comics_banner' %>
    </div>

    <div class="section group">
      <div class="col span_3_of_12">

        <div class="col span_11_of_12">
        <h2>Last Updates</h2>

        <ul class="">

          <li><%= link_to "Comic1", '#' %></li>

          <li><%= link_to "Comic2", '#' %></li>
          <li><%= link_to "Comic3", '#' %></li>
          ...
          <li><%= link_to "Archive", '#' %></li>

        </ul>
        </div>

        <div class="col span_11_of_12">
          <h2>Author(s)</h2>

          <ul class="">

            <li><%= link_to "User1", '#' %></li>

            <li><%= link_to "User2", '#' %></li>



          </ul>

        </div>

      </div>

      <div class="col span_6_of_12">
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>

        <%= yield %>

      </div>
      <div class="col span_3_of_12">
        <button type="button" class="btn btn-primary btn-lg btn-block">LIKE</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">FOLLOW</button>

      </div>
      <div class="col span_3_of_12">
        <h2>Characters</h2>
        Lorem ipsum
      </div>
    </div>


</div>
</div>