<div class="section group">
  <div class="col span_1_of_12">

  </div>
  <div class="col span_10_of_12">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </div>

</div>