

<div class="section group">
<div class="content_page">
  <div class="section group">
  <%= render 'layouts/comics_banner' %>
  </div>

<%= render 'layouts/comic_navigation' %>


<div class="section group">
  <div class="col span_1_of_12" push></div>
  <div class="col span_10_of_12">
    <%= yield %>
  </div>
</div>

  <%= render 'layouts/comic_navigation' %>

  <div class="section group">
    <div class="col span_1_of_12" push></div>
    <div class="col span_10_of_12">
      <p>
  <%= yield(:author_comment) %>
      </p>
    </div>
  </div>

  <div class="section group">
    <div class="col span_1_of_12" push></div>
    <div class="col span_7_of_12">
        <%= text_area_tag(:message, "Hi, nice site", size: "10x6") %>
      <div class="col span_4_of_12" style="margin-left: 0px">
        <span class="btn btn-default btn-block btn-lg" >Send</span>
      </div>
    </div>
    <div class="col span_3_of_12">
      <span class="btn btn-primary btn-block btn-lg" >FOLLOW</span>
      <span class="btn btn-primary btn-block btn-lg" >LIKE</span>
    </div>

  </div>

  <div class="section group">
    <div class="col span_1_of_12" push></div>
    <div class="col span_10_of_12">
      CARGAR COMENTARIOS
    </div>
  </div>

</div>
</div>