<div class="section group">

  <div class="col span_9_of_12 browse">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </div>

  <div class="col span_3_of_12">
    <h2>Search</h2>
    <div class="ui-widget">
      <label for="tags">Tags: </label>
      <input id="tags">
    </div>

    <hr>


    <h2>Filter by Genre</h2>
    <div class="checkbox">
      <label><input type="checkbox" value="">Option 1</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Option 2</label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="">Option 3</label>
    </div>

    <hr>
    <h2>Order by</h2>

    <div class="f">
      <select class="form-control" id="sel1">
        <option>By Date</option>
        <option>Popular</option>
        <option>Top ranked</option>
      </select>
    </div>

    <hr>
  </div>

</div>


