
<div class="section group">
  <div class="col-md-12" style="background-color:#0f4f62">

  <div class="col-md-8">

  <div class="container left">
    <nav>
      <ul class="nav navbar-nav nav_header" >
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "About",    about_path %></li>
        <li><%= link_to "Browse",    comics_path %></li>
        <li><%= link_to "Forum",    '#', :target => "_blank" %></li>

      </ul>
    </nav>
  </div>

  </div>

  <div class="col-md-1 push"></div>
  <% if logged_in? %>
  <div class="col-md-3">
  <div class="container right">
    <nav>
      <ul class="nav navbar-right navbar-nav" >
        <li><%= link_to "Profile",    current_user %></li>
        <li><%= link_to "My Comics",  mycomics_path %></li>

      </ul>
    </nav>
  </div>

  </div>
      <% end %>

  </div>
</div>