<!DOCTYPE html>
<html>
<head>
  <title>Comic Fans</title>

  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<body>
<div class="wrapper">
<header class="navbar ">
  <div class="section group">
    <div class="col span_12_of_12">
      <div class="col span_4_of_12">
        <div class="navbar-brand">
          <%= link_to 'COMIC FANS',    root_path %>
        </div>
      </div>
      <div class="col span_6_of_12 push">
        espacio
      </div>

      <div class="col span_2_of_12">
        <%= render 'layouts/login_menu' %>
      </div>
      <div class="" >
        <%= render 'layouts/header' %>
      </div>
    </div>
  </div>

</header>

  <% if current_page?(users_path) %>


  <% end %>

<div class="content">
  <% if current_page?(root_path) %>
    <%= render 'layouts/container_home' %>
  <% elsif current_page?(test_test1_path) %>
      <%= render 'layouts/container_page' %>

  <% elsif current_page?(comics_path)%>
      <%= render 'layouts/container_browse'  %>

  <% elsif current_page?(test_path)%>
      <%= render 'layouts/comic_home'  %>

    <% else 'layouts/container_page'%>
       <%= render 'layouts/container_about'  %>

   <% end %>


</div>



<footer class="footer">
  <div class="section group">
    <div class="col span_12_of_12">
      <%= render 'layouts/footer' %>
    </div>
  </div>

</footer>
</div>
</body>
</html>